/* main color red rgba(166,12,65,1);  #a60c41
*/

*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
}
.navbar-default {
	background-color: #a60c41;
	font-size: x-large;
	
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	color: red;
	background-color: #A60C6F;;
	padding: 25px;
}

.navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	color: red;
	background-color: transparent;
}
.navbar-default .navbar-nav>li>a {
	color: white;
	padding: 25px;
}

a { /* анимация */
	-webkit-transition-duration: 0.5s; 
	-o-transition-duration: 0.5s; 
	-moz-transition-duration: 0.5s; 
	transition-duration: 0.5s;
}
.navbar-default .navbar-nav>li>a {
	color: white;
}

.nav.navbar-nav>li>a:focus {
	color: red;
	background-color: transparent;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
	color: red;
	background-color: transparent;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand {
	color: white;
	font-size: x-large;
	padding: 25px;

}

.navbar {

	margin-bottom: 0;

}
.navbar-default {
	border-color: #a60c41;
}

.header {


	background: url('/img/verstka/bg-left.png') no-repeat left top, url('/img/verstka/bg-right.png') no-repeat right top;

}
.jumbotron{
	padding-top: 0;
	margin-top: -2em;
}
.arka-c{
	text-align-last: end;
	    top: 1em;
}
.contacts-row{
	padding-top: 2em;
}
.large-tel{
	font-size: 280%;
	color: #a60c41;
	    font-weight: bolder;
}
.contacts{
	bottom: 5em;
}