/*css для search res css*/
.btn-default_w_border,.btn-default{
	    text-transform: uppercase;
    color: #a42465;
    font-weight: bold;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.btn-default_w_border:hover,.btn-default:hover {
         color: white;
    background-color: #a42465;
    border-color: #adadad;
}
.subscribe_link{
	    font-family: 'Open Sans Condensed', sans-serif;

    font-size: 14px;
}
.title_room{
	font-size: larger;
}

.sortline .col-sm-8{
	/*margin-left: 2em;*/
}
.title_item{
	    font-size: larger;
    font-weight: 600;
    padding-top: 0.5em;
}
.description_room{
	    text-indent: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
}

.icon-map {
    background-image: url("/img/verstka/on-map.png");
    display: inline-block;
     width: 42px;
    height: 42px;

  line-height: 14px;
     vertical-align: sub;
    background-position: 0px 5px;
  background-repeat: no-repeat;
  margin-top: 1px;
}
.icon-question{
	    background-image: url("/img/verstka/question.png");
    display: inline-block;
     width: 42px;
    height: 42px;

  line-height: 14px;
     vertical-align: sub;
    background-position: 0px 5px;
  background-repeat: no-repeat;
  margin-top: 1px
}
.icon-like{
	    background-image: url("/img/verstka/like.png");
    display: inline-block;
     width: 42px;
    height: 42px;

  line-height: 14px;
     vertical-align: sub;
     background-position: 0px 10px;
  background-repeat: no-repeat;
  margin-top: 1px
}

.catalog_upper{
	border-top: none;
	border-left: none;
	border-right: none;

	-webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
 
}
 #map {
        height: 100%;
      }
  .wrap_gogle_map{
  	min-height: 400px;
  	height: 400px;
  }

  .news-box{
  	margin-bottom: 4em;
  }

  .news-title,.news-title a{
  	    font-size: large;
  	    color: black;
  	    background-color: transparent;
  }

  .viewed_rooms{
  	border: none;
  }
ul.pagination li a {
    margin: 0 4px; /* 0 is for top and bottom. Feel free to change it */
 color: #a42465;	
 text-decoration: none;
}

ul.pagination li a:hover {
    color: white;	
 text-decoration: none;
}




ul.pagination li a.active, .pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
	    color: white;
    background-color: #a42465;
}